@model IEnumerable<Upload>

@{
    ViewData["Title"] = "Videos";
}

<h2>@ViewBag.Course.Name - Videos</h2>
<p>@ViewBag.Course.Description</p>
<div class="videos">
    @foreach (var item in Model)
    {
        <div class="video-card">
            <div class="video-thumbnail">
                <iframe width="100%" height="180" src="@item.YouTubeLink" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-details">
                <h3>@item.TopicName</h3>
                <p>@item.Courses</p>
            </div>
        </div>
    }
</div>

